<!-- your html code here -->

<hr>
<div class="d-flex justify-content-center py-3" style="background-color: white;">
    <div class="row">
    <div class="col-12 py-5">
        <div class="text-justify">
            <h2>Contact</h2>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent
                commodo
                cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-1" style="background-color: lightgrey;"></div>
        <div class="col-8 p-2" style="background-color: lightgrey;">
            <form>
                <div class="form-group row py-2">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>Your
                            E-mail</strong></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="Your email">
                    </div>
                </div>
                <div class="form-group row py-1">
                    <label for="FormControlTextareaSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>Your
                            message</strong></label>
                    <div class="col-sm-10">
                        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="4"
                            placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end py-2">
                <button type="button" class="btn btn-primary d-flex justify-content-end">Submit</button>
            </div>
        </div>
    </div>
    </div>

</div>
</div>