<!-- your html code here -->
<hr>
<div class="container-fluid p-5 ">


    <div class="row p-2 d-flex align-items-center">

    <div class="col-sm-8 p-0"> 
<h2>
    This First Heading  <span class="text-muted">Will Catch Your Eye </span>
</h2>
<span class="align-middle">
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis 
    euismod semper. Present commodo cursus magna, vel scelerisque nisl 
    consectetur. Fusce dapibus, tellus a cursus commodo.

                <span>

    </div>
    <div class="col-sm-4 flex-grow-1 p-0">
        <img src="assets/img/1.jpg" class="rounded-circle w-50" alt="typing" >
    </div>


    </div>

</div>
</div>