<!-- your html code here -->
<hr>
<div class="container container-fluid py-5">
    <div class="row">
      <div class="col-md-12">
         <h1> Porfolio</h1> 
         <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus
magna, vel scelerisque nisi consectetur. Fusce dapibus, tellus ac cursus commodo.
         </p>


      </div>
    </div>
    <div class="row align-items-center p-0">
        <div class="col-4 p-0">
            <img src="assets/img/big-project-image.png" width="70%">
            <h3>
            Project Name
           
          </h3>
          <p style="width: 80%;">  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>

        </div>
        <div class="col-4 p-0">
            <img src="assets/img/big-project-image.png" width="70%">
            <h3>
                Project Name
               
              </h3>
              <p style="width: 80%;">  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>
    
        </div>
        <div class="col-4 p-0">
            <img src="assets/img/big-project-image.png" width="70%">
            <h3>
                Project Name
            </h3>
              <p style="width: 80%;">  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>
    
              </div>